@model ApiRowVM
@{
    ViewData["Title"] = "GetApi";
}

<h1>GetApi</h1>

<div class="row  m-5">
    <form asp-controller="Api" asp-action="GetApi" method="post" class="col-md-12" id="filterForm">
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group form-row">
                    <label class="control-label col-md-4" asp-for="searchText"></label>
                    <input class="form-control col-md-8" asp-for="searchText" />
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button class="btn btn-outline-secondary float-right" type="submit" id="filterFormSubmit">Getir</button>
                </div>
            </div>
        </div>

        <div class="col-md-6 row">
            <div class="col-4"></div>
            <div class="col">
                <input type="radio" id="yazar" name="option" value="1">
                <label asp-for="option">Yazar</label>
            </div>
            <div class="col">
                <input type="radio" id="kitap" name="option" value="2">
                <label asp-for="option">Kitap</label>
            </div>
        </div>


    </form>
</div>
<br />

@if (Model != null)
{
    @foreach (var item in Model.docs)
    {
        <div class="col-12 row">
            <div class="col" id="cbKutular">
                <input type="checkbox" name="@item.title" value="@item.title" />
            </div>

            <div class="col-11">

                @item.title/
                @if (item.author_name != null)
                {
                    @item.author_name[0]
                }

                / @item.first_publish_year

            </div>
        </div>
        <br />
    }
    @if (User.Identity.IsAuthenticated)
    {
        <input type="submit" value="Seçilen Kitapları Ekle" id="btnSecilenGor" />
    }

}

@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {
            $("#btnSecilenGor").click(function () {
                var bookArray = [];
                var books = "";
                $('#cbKutular :checked').each(function () {
                    var Secilenler = $(this).val();
                    bookArray.push(Secilenler);

                });

                var formData = new FormData();

                $.each(bookArray, function (i, item) {
                    formData.append("books", item);
                });

                $.ajax({
                    type: "POST",
                    url: "/Api/AddPostFromApi",
                    processData: false,
                    contentType: false,
                    data: formData,
                    dataType: "json",
                    success: function (response) {
                        if (response.status) {
                            alert(response.message);
                            window.location = response.x;
                        }
                        else {
                            alert(response.message);
                            window.location = response.x;
                        }
                      
                    }
                });
            });
        });

    </script>
}