@model PostRowVM
@{
    ViewData["Title"] = "Home Page";
}

<div class="col-12">
    @if (Model != null)
    {
        @*row border m-4 p-2*@
        <div class="row border m-4 p-2 col-12">

            <div><h3> <a>@Model.Title.ToString()</a>  </h3></div>
            <div class="col-12 row">
                <div class="col-3">

                    <small> Görüntülenme Sayısı: @Model.ViewCount</small>

                </div>
                <div class="col-4">

                    <small> Yayınlanma tarihi: @Model.CreateDate</small>

                </div>

                <div class="col-3">


                    <a asp-action="AddComment" asp-controller="Comment" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId">Yorum Ekle</a>


                </div>
                <div class="">
                    @if (Model.apiRowVM.docs != null)
                    {
                        <br />
                        @if (Model.apiRowVM.docs.Length > 1)
                        {
                            <p>Son Beş Eseri:</p>
                            @foreach (var item in Model.apiRowVM.docs)
                            {

                                <ul>
                                    <li>
                                        <small> @item.title/</small>
                                        <small> @item.first_publish_year</small>
                                    </li>
                                </ul>



                            }
                        }
                        else
                        {
                            if (@Model.apiRowVM.docs[0].author_name != null)
                            {
                                <div class="col">
                                    <small>Yazar: @Model.apiRowVM.docs[0].author_name[0]</small>

                                </div>

                            }
                            if (@Model.apiRowVM.docs[0].publisher != null)
                            {
                                <div class="col">
                                    <small>Yayıncı: @Model.apiRowVM.docs[0].publisher[0]</small>

                                </div>

                            }
                            if (@Model.apiRowVM.docs[0].first_publish_year != 0)
                            {
                                <div class="col">
                                    <small>Yayınlanma Tarihi: @Model.apiRowVM.docs[0].first_publish_year</small>

                                </div>

                            }
                            if (@Model.apiRowVM.docs[0].isbn != null)
                            {
                                <div class="col">
                                    <small>ISBN: @Model.apiRowVM.docs[0].isbn[0]/</small>

                                </div>


                            }





                        }

                    }
                </div>

            </div>
            <br />
            <br />
            <div class="col btn-group">

                <a class="btn btn-success d-flex justify-content-between align-items-center" asp-controller="Post" asp-action="PostRating" asp-route-type="like" asp-route-ratingPostId="@Model.postId">
                    <h6> <small>Beğendim</small></h6>
                    <span class="badge badge-dark badge-pill">@Model.LikeCount</span>
                </a>


                <a class="btn btn-danger d-flex justify-content-between align-items-center" asp-controller="Post" asp-action="PostRating" asp-route-type="dislike" asp-route-ratingPostId="@Model.postId">
                    <h6> <small>Beğenmedim</small></h6>
                    <span class="badge badge-dark badge-pill">@Model.DislikeCount</span>
                </a>

            </div>



        </div>

        <div class="row col-12">
            <div class="col-6"></div>
            <div class="col-6">
                <nav aria-label="Page navigation ">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId" asp-route-currentPage="@Model.PreviousPage">Önceki</a>
                        </li>
                        @for (int i = 1; i <= Model.PageCount; i++)
                        {
                            if (i == Model.CurrentPage)
                            {
                                <li class="page-item active">
                                    <label class="page-link">@i</label>
                                </li>
                            }
                            else
                            {
                                <li class="page-item">
                                    <a class="page-link" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId" asp-route-currentPage="@i">@i</a>
                                </li>
                            }
                        }
                        <li class="page-item">
                            <a class="page-link" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId" asp-route-currentPage="@Model.NextPage">Sonraki</a>
                        </li>
                    </ul>


                </nav>
            </div>

        </div>
        <div class="row">
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        if (Model.Comments != null)
        {
            @foreach (var item in Model.Comments)
            {
                <div class="row border m-4 p-2 col-12">
                    <div><p>@item.Text</p></div>
                    <div class="col-12 row">
                        <div class="col-6">

                            <small> Yorum tarihi:  @item.CommentDate</small>

                        </div>
                        <div class="col-3">

                            <small> Yorum sahibi:  @item.UserName</small>

                        </div>

                        <div class="col-3">

                            <a class="btn btn-light d-flex justify-content-between align-items-center" asp-controller="BlockedUser" asp-action="AddBlockedUser" asp-route-blockedUserId="@item.UserId"><h6> <small>Kullanıcıyı Engelle</small></h6></a>

                        </div>


                    </div>



                </div>
            }
        }

    }

    <div class="col-12">
        <nav aria-label="Page navigation ">
            <ul class="pagination">
                <li class="page-item">
                    <a class="page-link" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId" asp-route-currentPage="@Model.PreviousPage">Önceki</a>
                </li>
                @for (int i = 1; i <= Model.PageCount; i++)
                {
                    if (i == Model.CurrentPage)
                    {
                        <li class="page-item active">
                            <label class="page-link">@i</label>
                        </li>
                    }
                    else
                    {
                        <li class="page-item">
                            <a class="page-link" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId" asp-route-currentPage="@i">@i</a>
                        </li>
                    }
                }
                <li class="page-item">
                    <a class="page-link" asp-route-selectedCategoryId="@ViewBag.PostCategoryName.Id" asp-route-postId="@Model.postId" asp-route-currentPage="@Model.NextPage">Sonraki</a>
                </li>
            </ul>


        </nav>
    </div>

</div>
<div class="col-md-1"></div>